<article class="panel panel-default" [ngStyle]="{backgroundColor: color}" (mouseenter)="onHover()">
    <div class="panel-body" [class.hovered] = "isHovered" style = "{ font-style: normal }">
        {{ messageSingle.content }}
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{ messageSingle.username }}
        </div>
        <div class="config">
            <a (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</article>